# Virtual Environment
venv/
env/

# Python
__pycache__/
*.pyc

# Database
*.db

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Logs
*.log